<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Reddit - Dive Deep!</title>
        <link rel="stylesheet" href="css/home/main.css">
        <link rel="stylesheet" href="css/home/navbar.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,700&display=swap">
        <link rel="icon" href="https://www.redditinc.com/assets/images/site/reddit-logo.png">
        <link rel="stylesheet" href="css/post/createpost.css">
    </head>
    <body>
        <!-- Navbar -->
        <%- include('../home/partials/navbar.ejs')%>
        <!-- Main Container -->
        <div id="main-container">
            <div id="post-container">
                <div id="post-header">
                    <span id="post-create">Create a post</span>
                </div>
                <div id="post-community">
                    <select name="community" id="community-select">
                        <option value="" disabled selected hidden>Choose a community</option>
                        <option value="r/Philippines">r/Philippines</option>
                        <option value="r/AskReddit">r/AskReddit</option>
                        <option value="r/AskScience">r/AskScience</option>
                        <option value="r/AskHistorians">r/AskHistorians</option>
                        <option value="r/AskMen">r/AskMen</option>
                    </select>
                </div>
                <div id="post-title">
                    <input type="text" name="title" id="title-input" placeholder="Title" maxlength="300">
                </div>
                <div id="post-body">
                    <textarea name="body" id="body-input" cols="30" rows="10" placeholder="Text"></textarea>
                </div>
                <div id="post-actions">
                    <button id="post-cancel" onclick="window.location.href='/'">Cancel</button>
                    <button id="post-submit" onclick="window.location.href='/'">Post</button>
                </div>
            </div>
            <div id="rules-container">
                <div id="rules-header">
                    <span id="rules-title"><img src="https://styles.redditmedia.com/t5_2qh1i/styles/communityIcon_p6kb2m6b185b1.png?width=256&s=c28b9f038c305e139b62739f2133d7b776582696" width="30px" height="30px" id="rules-icon" />Posting to Reddit</span>
                </div>
                <div id="rules-items">
                    <ol id="reddit-rules">
                        <li>Remember the human</li>
                        <li>Behave like you would in real life</li>
                        <li>Look for the original source of content</li>
                        <li>Search for duplicates before posting</li>
                        <li>Read the community's rules</li>
                    </ol>
                </div>
            </div>
        </div>
    </body>
</html>