#filter-bar {
    width: 40%;
    height: 100%;
    margin-left: 23%;
    margin-top: 1%;
    display: flex;
    flex-direction: row;
    width: 40%;
    height: 50px;
    border: 1px solid #343536;
    border-radius: 10px;
}

.filter-type {
    padding-left: 1%;
    color: #c0c2c4;
    padding-right: 1.5%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.filter-button-type {
    border: none;
    background: none;
    color: #818384;
    font-size: 1em;
    height: 75%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.filter-button-type:hover {
    color: #f5f5f5;
    background-color: #272729;
    border-radius: 10px;
}

.icons {
    width: 1.75em;
    height: 1.75em;
    filter: invert(100%);
    padding-right: 10%;
}

@media only screen and (max-width: 600px) {
    #filter-bar {
        width: 100%;
        margin: 0;
        margin-top: 10px;

        /* Center elements inside */
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
}