#profile-posts {
    width: 39.8%;
    margin-left: 23.2%;
    margin-top: 10px;
}

.post {
    width: 100%;
    border: 1px solid #474748;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
}

.vote {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.vote img {
    filter: invert(100%);
}

.upvote-button {
    background: none;
    border: none;
}

.upvote-button:hover {
    filter: brightness(50%);
}

.downvote-button {
    background: none;
    border: none;
}

.downvote-button:hover {
    filter: brightness(50%);
}

.score {
    text-align: center;
    margin-bottom: 4px;
}

.post-details {
    display: flex;
    flex-direction: row;
    width: 100%;

    border: 1px solid blue;
}

.post-location {
    margin: 5px;
}

.post-date {
    margin: 5px;
}

.post-information {
    display: flex;
    flex-direction: row;

    border: 1px solid red;
}