<nav>
    <div class="logo-and-form">
        <div class="main-logo">
            <img src="https://assets-global.website-files.com/5db35de024bb988f5fb4e168/62d694f75dbecb5f5c987475_reddit-logo%20white.png" alt="reddit-logo" class="main-logo" onclick="window.location.href = '/'">
        </div>

        <form action="get">
            <input type="text" name="search" id="search" placeholder="Search" class="search-bar">
        </form>
        
        <% if (authenticated) {%>
            <button class="logged-user" id="loggedin">
                <img src="" alt="" class="profilepic">
                <div class="right-nav">
                    <p class="username" id="logged-user"><%= username %></p>
                    <p class="karma">Karma: <%= karma %></p>
                </div>
            </button>
        <% }else { %>
            <div class="get-app-and-login">
                <button class="get-app">Get App</button>
                <button class="login" id="loginbtn" onclick="window.location.href='/login'">Log in</button>
                <button class="more">...</button>
            </div>
        <% } %>
    </div>
</nav>