<nav>
    <div class="logo-and-form">
        <div class="main-logo">
            <img src="https://assets-global.website-files.com/5db35de024bb988f5fb4e168/62d694f75dbecb5f5c987475_reddit-logo%20white.png" alt="reddit-logo" class="main-logo" onclick="window.location.href = '/'">
        </div>

        <form action="get">
            <input type="text" name="search" id="search" placeholder="Search" class="search-bar">
        </form>

        <div class="get-app-and-login">
            <button class="get-app" id="get-app-btn">Get App</button>
            <button class="login" id="login-btn" onclick="window.location.href='/login'">Log in</button>
            <button class="more" id="more-btn">...</button>
        </div>

        <!-- <div class="logged-in">
            <div class="profile-nav">
                <div class="right-container">
                    <p class="username">Username</p>
                    <p class="karma">
                        <span>
                            <img src="https://styles.redditmedia.com/t5_zdt06/styles/profileIcon_snooe03771e6-5936-4b74-9c58-8e4e5f310215-headshot-f.png?width=256&height=256&frame=1&auto=webp&crop=256:256,smart&s=38543453708970663ca6a82f5604682fd11c3d7b" alt="" class="karma-icon">
                        </span>
                        1 karma
                    </p>
                </div>
            </div>
        </div> -->
    </div>
</nav>