<aside>
    <ul>
        <li>
            <div class="navigation-portion">
                <ul>
                    <li>
                        <div class="button-container">
                            <a><span><img src="assets/home/home-button.png" alt="" srcset=""></span>Home</a>
                        </div>
                    </li>
                    <li>
                        <div class="button-container">
                            <a><span><img src="assets/home/popular-button.png" alt="" srcset=""></span>Popular</a>
                        </div>
                    </li>
                </ul>
            </div>
        </li>
        <li>
            <div class="topics-portion">
                <ul>
                    <h3>Topics</h3>
                    <li>
                        <div class="button-container">
                            <a><span><img src="assets/home/gaming-button.png" alt="" srcset=""></span>Gaming</a>
                        </div>
                    </li>
                    <li>
                        <div class="button-container">
                            <a><span><img src="assets/home/tennis-button.png" alt="" srcset=""></span>Sports</a>
                        </div>
                    </li>
                    <li>
                        <div class="button-container">
                            <a><span><img src="assets/home/business-button.png" alt="" srcset=""></span>Business</a>
                        </div>
                    </li>
                    <li>
                        <div class="button-container">
                            <a><span><img src="assets/home/crypto-button.png" alt="" srcset=""></span>Crypto</a>
                        </div>
                    </li>
                    <li>
                        <div class="button-container">
                            <a><span><img src="assets/home/television-button.png" alt="" srcset=""></span>Television</a>
                        </div>
                    </li>
                    <li>
                        <div class="button-container">
                            <a><span><img src="assets/home/celebrity-button.png" alt="" srcset=""></span>Celebrity</a>
                        </div>
                    </li>
                    <h4>See more</h4>
                </ul>
            </div>
        </li>

        <li>
            <div class="topics-portion">
                <ul>
                    <h3>Resources</h3>
                    <li>
                        <div class="button-container">
                            <a><span><img src="assets/home/gaming-button.png" alt="" srcset=""></span>About Reddit</a>
                        </div>
                    </li>
                    <li>
                        <div class="button-container">
                            <a><span><img src="assets/home/tennis-button.png" alt="" srcset=""></span>Advertise</a>
                        </div>
                    </li>
                    <li>
                        <div class="button-container">
                            <a><span><img src="assets/home/business-button.png" alt="" srcset=""></span>Help</a>
                        </div>
                    </li>
                    <li>
                        <div class="button-container">
                            <a><span><img src="assets/home/crypto-button.png" alt="" srcset=""></span>Blog</a>
                        </div>
                    </li>
                    <li>
                        <div class="button-container">
                            <a><span><img src="assets/home/television-button.png" alt="" srcset=""></span>Careers</a>
                        </div>
                    </li>
                    <li>
                        <div class="button-container">
                            <a><span><img src="assets/home/celebrity-button.png" alt="" srcset=""></span>Press</a>
                        </div>
                    </li>
                    <h4>See more</h4>
                </ul>
            </div>
        </li>
    </ul>
</aside>