<div class="comment">   
    <div class="comment-info" onclick="collapse(this)">
        <span class="user-profile"><img src="https://www.redditstatic.com/avatars/defaults/v2/avatar_default_5.png"></span>
        <a class="username" href="/profile?username=<%# comment.content.commenter %>"><%= comment.user %></a>
        <span class="timestamp">• <%= comment.date %></span>
    </div>
    <div class="comment-collapsible">
        <div class="comment-content">
            <%= comment.content %>
        </div>
        <div class="comment-actions">
            <div class="vote">
                <button class="upvote">
                    <span class="post-sprite upvote"></span>
                </button>
                <span class="count"><%= comment.upvotes - comment.downvotes %></span>
                <button class="downvote">
                    <span class="post-sprite downvote"></span>
                </button>
            </div>
            <button class="comment-action">
                <span class="post-sprite comment-reply"></span>
                <span class="count">Reply</span>
            </button>
            <button class="delete">
                <span><img src="https://cdn.icon-icons.com/icons2/868/PNG/512/trash_bin_icon-icons.com_67981.png" alt="Delete icon" width="15px" height="15px" style="filter: invert(100%);" /></span>
                <span class="count">Delete</span>
            </button>
        </div>
        <%#comment.children.forEach( (child) => { %>
            <div class="comment-children">
                <%# include("comment.ejs", {comment: child}); %>
            </div>
        <%# }) %>
    </div>
</div>