<style>
.post-link {
    border: 1px solid #242c2e;
    border-radius: 16px;
    position: relative;
    margin-bottom: .5rem;
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.post-link > .link {
    color: var(--color-neutral-content-weak);
    font-size: 14px;
}

.post-link > .link:hover {
    text-decoration: underline;
}

.post-link > button {
    width: 4rem;
    height: 2.5rem;
    background-color: transparent;
    padding: 0 14px 0 14px;
    color: var(--color-neutral-content);
    border-radius: 999px;
    border: 1px solid #858a8b;
    color: white;
    font-size: 0.9rem;
    font-weight: 575;
}

.post-link > button:hover {
    border-color: #f2f4f5;
}

.post-link > button:active {
    background-color: #323a3b;
}
</style>
<div class="post-link">
    <a class="link">twitter.com</a>
    <button>Open</button>
</div>