:root {
    /* Define adding color palette */
    --background: #0b1416; 
    --body-text-color: #ffffff;

    --search-bar-background: #1a282d;
    --search-bar-background-hover: #223237;
    --orange: #d93a01;
}

body {
    background-color: var(--background);
    color: var(--body-text-color);
    font-family: 'IBM Plex Sans', sans-serif;
}





