nav {
    background-color: var(--background);
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 30px;
    padding-right: 30px;
    border-bottom: 0.5px solid #ffffff87;
    position: sticky;
    top: 0; /* Set this value to 0 to make it sticky at the top of the viewport */
    width: auto;
    height: 50px;
    z-index: 100; /* Add a z-index to ensure it's above other content when sticky */
}


nav .logo-and-form {
    display: flex;
    align-items: center;
}

nav .logo-and-form img {
    cursor: pointer;
}

nav .main-logo {
    height: 30px;
    width: 90px;
}

nav form {
    margin-left: 300px;
    margin-right: auto;
}

nav form .search-bar {
    width: 800px;
    height: 25px;

    border-radius: 20px;
    padding: 10px;
    padding-left: 50px;
    padding-right: 20px;
    border: none;
    background-color: var(--search-bar-background);
    color: var(--body-text-color);
    outline: none;
    resize: none;
    overflow: hidden;


    background-image: url('../../assets/navbar/search-icon.png');
    background-size: 30px 30px; /* Set the size of the icon */
    background-repeat: no-repeat;
    background-position: 10px center; /* Adjust the position of the icon */

}

nav form .search-bar:hover {
    background-color: var(--search-bar-background-hover);
}

nav .get-app-and-login {
    margin-right: 50px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;

}

nav .get-app-and-login .get-app {
    height: 40px;
    width: 100px;

    border-radius: 20px;
    background-color: var(--search-bar-background);
    color: var(--body-text-color);
    border: none;
    cursor: pointer;

    font-weight: bold;
    font-size: 15px;
}

nav .get-app-and-login .login {
    height: 40px;
    width: 100px;

    border-radius: 20px;
    background-color: var(--orange);
    color: var(--body-text-color);
    border: none;
    cursor: pointer;

    font-weight: bold;
    font-size: 15px;
}

nav .get-app-and-login .more {
    height: 40px;
    width: 40px;

    border-radius: 20px;
    background-color: var(--search-bar-background);
    color: var(--body-text-color);
    border: none;
    cursor: pointer;

    font-size: 15px;
}


/* If logged in */

.logged-user {
    /* Make left and right div side by side */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px;

    height: 40px;
    width: 200px;

    background-color: var(--background);
    color: var(--body-text-color);
    border: none;
    cursor: pointer;

}

.logged-user .profilepic {
    /* Make size icon */
    height: 30px;
    width: 30px;
}

.logged-user .right-nav {
    /* Make elements side by side */
    display: flex;
    align-items: center;
    width: 150px;
    flex-direction: row;
    gap: 10px;
}

.logged-user .right-nav p {
    margin: 0; /* Set margin to zero */
    padding: 1px;
    font-size: 12px;
}

.logoutbtn {
    height: 40px;
    width: 100px;

    border-radius: 20px;
    background-color: var(--orange);
    color: var(--body-text-color);
    border: none;
    cursor: pointer;

    font-weight: bold;
    font-size: 15px;
}


.abbtn {
    height: 40px;
    width: 100px;

    border-radius: 20px;
    background-color: var(--orange);
    color: var(--body-text-color);
    border: none;
    cursor: pointer;

    font-weight: bold;
    font-size: 15px;
}


@media only screen and (max-width: 600px) {
    nav {
        padding-left: 10px;
        padding-right: 10px;
        height: 180px;
        padding: 10px;
    } 
    
    nav .logo-and-form {
        /* Make elements stack */
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }

    nav .logo-and-form .main-logo {
        /* Put to top left dynamically */
        margin-top: 10px;
        margin-left: 10px;

        height: 40px;
        width: 120px;
    }

    /* Put search-bar below the main logo */
    nav form {
        margin-left: 0px;
        margin-top: 10px;
    }

    nav form .search-bar {
        width: 250px;
        height: 20px;
        font-size: 12px;
        margin: 10px;

        display: flex;
        align-items: center;
        justify-content: center;

    }

    nav .get-app-and-login {
        margin-right: 0px;
        margin-top: 10px;
        margin: 10px;
    }


    nav .get-app-and-login {
        margin-right: 0px;
        margin-top: 10px;
        margin: 10px;
    }

    .logged-user .right-nav {
        /* Make elements side by side */
        display: flex;
        align-items: center;
        width: 150px;
        flex-direction: row;
    }

    .logged-user .right-nav p {
        margin: 10px; /* Set margin to zero */
        padding: 1px;
        font-size: 12px;
    }

    .logged-user .profilepic {
        /* Make size icon */
        height: 30px;
        width: 30px;
    }

    .logoutbtn {
        height: 40px;
        width: 100px;

        border-radius: 20px;
        background-color: var(--orange);
        color: var(--body-text-color);
        border: none;
        cursor: pointer;

        font-weight: bold;
        font-size: 15px;
    }
}
