aside {
    width: 250px;
    padding: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding-left: 200px;

    border-right: 0.5px solid #ffffff87;

}

aside ul {
    list-style: none;
}

aside ul li {
    margin-bottom: 10px;
}

aside ul li a {
    background-color: var(--background);
    padding: 5px;

    display: flex; /* Make the image and text display horizontally */
    align-items: center; /* Align them vertically in the middle */
    text-decoration: none; /* Remove underline from the link */
    color: var(--body-text-color); /* Text color */
    width: 180px;
    font-size: 15px;
    height: 20px;

    cursor: pointer;
}

aside ul li img {
    width: 20px; /* Set the width of the image */
    height: 20px; /* Set the height of the image */
    margin-right: 10px; /* Add some spacing between image and text */
}

aside ul li a:hover {
    background-color: var(--search-bar-background-hover);
}

aside .navigation-portion {
    border-bottom: 0.5px solid #ffffff87;
}

aside .topics-portion {
    margin-top: 20px;
    border-bottom: 0.5px solid #ffffff87;
}

aside .topics-portion h3 {
    color: var(--header-text);
    font-weight: 100;
}

aside .topics-portion h4 {
    color: var(--body-text-color);
    font-weight: 100;
    font-size: 15px;
}

@media only screen and (max-width: 600px) {
    aside {
        display: none;
    }
    
}
