<header>
    <div id="filter-bar">
        <div id="new" class="filter-type">
            <button id="new-button" class="filter-button-type"><img src="https://cdn-icons-png.flaticon.com/512/102/102282.png" alt="new" id="new-icon" class="icons" />New</button>
        </div>
        <div id="hot" class="filter-type">
            <button id="top-button" class="filter-button-type"><img src="https://static.thenounproject.com/png/689784-200.png" alt="hot" id="hot-icon" class="icons"/>Hot</button>
        </div>
        <div id="top" class="filter-type">
            <button id="top-button" class="filter-button-type"><img src="https://cdn-icons-png.flaticon.com/512/4196/4196777.png" alt="top" id="top-icon" class="icons" />Top</button>
        </div>
    </div>
</header>