<nav class="profile-nav">
    <div id="profile-bar">
        <div id="overview" class="profile-type">
            <button id="overview-button" class="button-type">Overview</button>
        </div>
        <div id="posts" class="profile-type">
            <button id="posts-button" class="button-type">Posts</button>
        </div>
        <div id="comments" class="profile-type">
            <button id="comments-button" class="button-type">Comments</button>
        </div>
        <div id="saved" class="profile-type">
            <button id="saved-button" class="button-type">Saved</button>
        </div>
        <div id="hidden" class="profile-type">
            <button id="hidden-button" class="button-type">Hidden</button>
        </div>
        <div id="upvoted" class="profile-type">
            <button id="upvoted-button" class="button-type">Upvoted</button>
        </div>
        <div id="downvoted" class="profile-type">
            <button id="downvoted-button" class="button-type">Downvoted</button>
        </div>
    </div>
</nav>