<header>
    <div id="profilestats">
        <img src="https://www.redditstatic.com/avatars/avatar_default_02_4856A3.png" alt="Profile picture" height="150px" width="150px" style="border-radius: 10px;"/>
        <br />
        Machew
        <br />
        u/Maccheww • 4y
        <div id="bio-page">
            I am Machew, a self-taught programmer currently in DLSU.
        </div>
        <button id="style-avatar" onclick="window.location.href='/profile-edit'">Style Avatar</button>
        <div id="karma-cake">
            <div id="karma">
                Karma
                <span id="karma-count" class="count-date"><img src="https://styles.redditmedia.com/t5_2qhhz/styles/communityIcon_6wrax3ocfar41.png" alt="Karma icon" width="12.5px" height="12.5px" /> 1</span>
            </div>
            <div id="cake-day">
                Cake day
                <span id="cake-day-date" class="count-date"><img src="https://cdn-icons-png.flaticon.com/512/6002/6002859.png" alt="Cake icon" width="12.5px" height="12.5px" /> November 25, 2019</span>
            </div>
        </div>
        <div id="post-button">
            <button id="new-post">New Post</button>
        </div>
        <div id="options">
            <button id="profile-options">More Options</button>
        </div>
    </div>
</header>