<header>
    <div id="profilestats">
        <img src="<%= user.avatar %>" alt="Profile picture" height="150px" width="150px" style="border-radius: 10px;"/>
        <br />
        <%= user.username %>
        <br />
        <%= user.memberURL %>
        <div id="bio-page">
            <%= user.bio %>
        </div>
        <button id="style-avatar">Style Avatar</button>
        <div id="post-button">
            <button id="new-post">New Post</button>
        </div>
        <div id="options">
            <button id="profile-options">More Options</button>
        </div>
    </div>
</header>