<header>
    <div id="profile-posts">
        <div class="post">
            <div class="vote">
                <div class="upvote">
                    <button class="upvote-button"><img src="https://cdn-icons-png.flaticon.com/512/25/25637.png" alt="up-arrow" width="15px" height="15px" /></button>
                </div>
                <div class="score">
                    <span class="score">0</span>
                </div>
                <div class="downvote">
                    <button class="downvote-button"><img src="https://cdn-icons-png.flaticon.com/512/61/61932.png" alt="down-arrow" width="15px" height="15px" /></button>
                </div>
            </div>

            <!-- Make this into a list  -->
            <div class="post-container">
                <div class="post-details">
                    <div class="post-location">
                        <span class="post-location-sub"><img src="https://upload.wikimedia.org/wikipedia/en/thumb/c/c2/De_La_Salle_University_Seal.svg/800px-De_La_Salle_University_Seal.svg.png" alt="dlsu-logo" width="20px" height="20px" />r/dlsu</span>
                    </div>
                    <div class="post-date">
                        <span class="post-date-sub">Posted by <%= profile[0].username %> 1 day ago</span>
                    </div>
                </div>
                <div class="post-information">
                    <a href="/" class="post-click">
                        <div class="post-header">
                            Transfer Queries
                        </div>
                        <div class="post-body">
                            Im planning to transfer and it said i have to take a transferee test. Ive tried searching for the coverage so I could review ahead of time, but I couldnt really find anything. Is this a general type of test like any other college admission test?
                        </div>
                    </a>
                </div>
                <div class="post-actions">
                    <div id="comment" class="actions">
                        <button id="comment-button" class="buttons"><img src="https://cdn-icons-png.flaticon.com/512/1380/1380338.png" alt="comment-icon" width="25px" height="25px" style="filter: invert(100%);"/>Comment</button>
                    </div>
                    <div id="share" class="actions">
                        <button id="share-button" class="buttons"><img src="https://cdn-icons-png.flaticon.com/512/1380/1380339.png" alt="share-icon" width="25px" height="25px" style="filter: invert(100%);"/>Share</button>
                    </div>
                    <div id="save" class="actions">
                        <button id="save-button" class="buttons"><img src="https://cdn-icons-png.flaticon.com/512/1380/1380355.png" alt="save-icon" width="25px" height="25px" style="filter: invert(100%);" />Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>