<header>
    <div id="profilestats">
        <img src="https://www.redditstatic.com/avatars/avatar_default_02_4856A3.png" alt="Profile picture" height="150px" width="150px" style="border-radius: 10px;"/>
        <br />
        <%= profile[0].username %>
        <br />
        <%= profile[0].memberURL %>.
        <div id="bio-page">
            <%= profile[0].bio %>
        </div>
        <button id="style-avatar" onclick="window.location.href='/profile-edit'">Style Avatar</button>
        <div id="post-button">
            <button id="new-post">New Post</button>
        </div>
        <div id="options">
            <button id="profile-options">More Options</button>
        </div>
    </div>
</header>