<header>
    <div id="profile-posts">
        <div class="post">
            <div class="vote">
                <div class="upvote">
                    <button class="upvote-button"><img src="https://cdn-icons-png.flaticon.com/512/25/25637.png" alt="up-arrow" width="15px" height="15px" /></button>
                </div>
                <div class="score">
                    <span class="score">1</span>
                </div>
                <div class="downvote">
                    <button class="downvote-button"><img src="https://cdn-icons-png.flaticon.com/512/61/61932.png" alt="down-arrow" width="15px" height="15px" /></button>
                </div>
            </div>
            <div class="post-details">
                <div class="post-location">
                    <span class="post-location-sub"><img src="https://upload.wikimedia.org/wikipedia/en/thumb/c/c2/De_La_Salle_University_Seal.svg/800px-De_La_Salle_University_Seal.svg.png" alt="dlsu-logo" width="20px" height="20px" />r/dlsu</span>
                </div>
                <div class="post-date">
                    <span class="post-date-sub">Posted by u/Maccheww 1 day ago</span>
                </div>
            </div>
            <div class="post-information">
                info here
            </div>
        </div>
    </div>
</header>